
# Application Secrets
SECRET_KEY=replace_with_random_string
OAUTH_CLIENT_ID=your_google_oauth_client_id
OAUTH_CLIENT_SECRET=your_google_oauth_client_secret

# Database Credentials
DB_USER=postgres
DB_PASSWORD=postgres

